<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="com.example.repo.SqlMapper">

<select id="getName" resultType="String">
	select user_name from dummy.users where mobile_number='12345' ;
</select>

<select id="getPassword"  parameterType="String" resultType="String">
	select password from dummy.users where user_name=#{userName} ;
</select>

<select id="getUser" parameterType="String" resultMap="userMap">
	select user_name,
	email,mobile_number
    from dummy.users where user_name=#{userName};
</select>

 <resultMap id="userMap" type="User">
	 <result property="userName" column="user_name"/>
	 <result property="emailId" column="email"/>
	 <result property="mobileNumber" column="mobile_number"/>
 </resultMap>
 
 <insert id ="insertUser" parameterType="User">
	 INSERT into dummy.users (user_name,password,email,mobile_number)
	          values (#{userName},#{password},#{emailId},#{mobileNumber});
 </insert>
 
 <select id="checkUser" parameterType="String" resultType="int">
	SELECT COUNT(*) 
    FROM dummy.users
    WHERE user_name = #{userName};
</select>

<select id="getClients" parameterType="String" resultMap="clientMap">
	select cl_name,cl_mobile,cl_amount,cl_date,cl_address,cl_reminder_date from dummy.clients 
	where cl_user =#{user} ORDER BY cl_date DESC;
</select>
<resultMap id="clientMap" type="Client">
	<result property="clName" column="cl_name"/>
	<result property="clMobile" column="cl_mobile"/>
	<result property="clAddress" column="cl_address"/>
	<result property="clAmount" column="cl_amount"/>
	<result property="date" column="cl_date"/>
	<result property="clReminderDate" column="cl_reminder_date"/>
</resultMap>

 <insert id ="insertClient" parameterType="Client">
	insert into dummy.clients (cl_name,cl_mobile,cl_address,cl_amount,cl_date,cl_user,
	cl_email,cl_reminder_date) 
	values (#{clName},#{clMobile},#{clAddress},'0',CURRENT_TIMESTAMP,#{clUser},
	#{clEmail},(DATE_ADD(CURDATE(), INTERVAL 1 MONTH)));
 </insert>
 
 <delete id="deleteClient" parameterType="map">
    DELETE FROM dummy.clients
    WHERE cl_name = #{clName} and cl_user = #{user};
</delete>

 <update id="updateAmount" parameterType="map">
	UPDATE dummy.clients
   SET cl_amount = cl_amount + #{clAmount}
   WHERE cl_name=#{clName};
 </update>

<select id="getHistory" parameterType="String" resultMap="historyMap">
	 select sr_no,hi_amount, hi_date,hi_interest from dummy.history
	 where  cl_user=#{clUser} ORDER BY hi_date DESC;
</select>
<resultMap id="historyMap" type="History">
	 <result property="hiAmount" column="hi_amount"/>
	 <result property="hiDate" column="hi_date"/>
	 <result property="hiInterest" column="hi_interest"/>
	 <result property="srNo" column="sr_no"/>
</resultMap>

<insert id ="insertEntry" parameterType="map">
	insert into dummy.history (cl_user,hi_amount,hi_date,hi_interest) 
	values (#{clUser},#{hiAmount},CURRENT_TIMESTAMP,'0');
 </insert>
 
 <select id="getAmount" parameterType="String" resultType="Double">
	select cl_amount from dummy.clients 
	where cl_user =#{clUser} and cl_name=#{clName};
</select>

<delete id="deleteEntry" parameterType="map">
    DELETE FROM dummy.history
    WHERE sr_no =#{srNo};
</delete>
<delete id="deleteAllEntries" parameterType="map">
    DELETE FROM dummy.history
    WHERE cl_user=#{clUser};
</delete>

<insert id ="generateOtp" parameterType="map">
	insert into dummy.otpvalid (email_id,otp,otp_date,otp_status)
	values (#{emailId},#{otp},CURRENT_TIMESTAMP,'F');
 </insert>
 
 <select id="validateOtp" resultType="Integer">
    SELECT otp 
    FROM dummy.otpvalid 
    WHERE email_id = #{emailId} 
    AND otp_date >= DATE_SUB(NOW(), INTERVAL 2 MINUTE)
    ORDER BY otp_date DESC 
    LIMIT 1;
</select>

<update id="updateOtpStatus" parameterType="map">
	UPDATE dummy.otpvalid
   SET otp_status = 'Y'
   WHERE otp=#{otp} and email_id=#{emailId};
 </update>

<select id="gerReminderDetails" parameterType="java.time.LocalDate" resultMap="reminderMap">
	select cl_name,cl_mobile,cl_amount,cl_email,cl_user from dummy.clients 
	where cl_reminder_date &lt;  #{date} ;
</select>
<resultMap id="reminderMap" type="Client">
	<result property="clName" column="cl_name"/>
	<result property="clMobile" column="cl_mobile"/>
	<result property="clEmail" column="cl_email"/>
	<result property="clAmount" column="cl_amount"/>
	<result property="clUser" column="cl_user"/>
</resultMap>

</mapper>